/* Login.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8fbf9;
}

.card {
  background-color: white;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 320px;
}

.logo {
  width: 60px;
  margin-bottom: 5px;
}

.title {
  font-size: 18px;
  color: #002855;
  font-weight: bold;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  font-size: 14px;
  color: #555;
  text-align: left;
  margin-bottom: 5px;
}

.input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input:focus {
  border-color: #007bff;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkbox {
  cursor: pointer;
}

.checkbox-label {
  font-size: 14px;
  color: #555;
  cursor: pointer;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #002855;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #004080;
}

.error-message {
  color: #ff4d4d; /* Red color for error */
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
